In [2]:
#dictionary
#to convert tupple to dict.
t = (('name','Ram'),('age',20))
d = dict(t)
print(d)

d['name']='Rama'#updating dict
print(d)

{'name': 'Ram', 'age': 20}
{'name': 'Rama', 'age': 20}

In [14]:
d ={}
d['course']="PGDCA"
d[5]=200
d[("Maths","Science")]=(90,60)
print(d)
d ['name']='Rama'
d['course']='mca'
print(d)

{'course': 'PGDCA', 5: 200, ('Maths', 'Science'): (90, 60)}
{'course': 'mca', 5: 200, ('Maths', 'Science'): (90, 60), 'name': 'Rama'}

In [1]:
y = 'yippee'#counting elements using dict..
d = dict()
for i in y:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'y': 1, 'i': 1, 'p': 2, 'e': 2}

In [9]:
d = {'name':'Ram','age':20}
for a in d:
    print(a,d[a])
print(d.values())
for key,value in d.items():
    print(key,":",value)

name Ram
age 20
dict_values(['Ram', 20])
name : Ram
age : 20

In [1]:
s = {'Mohan':{'cars':'V','roll no':'2'},'Priya':{'class':'VI','roll no':'4'}}
for key in s:
    print(key)
    for j in s[key]:
        print(j)
       # s[key][j]

Mohan
cars
roll no
Priya
class
roll no

In [3]:
d = {"name":"Ram","Age":20, "class":"v"}
print(len(d))
print(d)
print(str(d))
print(type(d))
d.copy()
d1 = d.copy()
print(d1)
print(d.items())
j = {"name":'ram',"age":"12","name":"abc"} #updated names[questions]"we cnt enter 2 records with same initial keys"
print(j.items())

3
{'name': 'Ram', 'Age': 20, 'class': 'v'}
{'name': 'Ram', 'Age': 20, 'class': 'v'}
<class 'dict'>
{'name': 'Ram', 'Age': 20, 'class': 'v'}
dict_items([('name', 'Ram'), ('Age', 20), ('class', 'v')])
dict_items([('name', 'abc'), ('age', '12')])

In [7]:
l = [('apple',120),('banana',12222),("frerdfdf",237654)]
d = dict(l)
print(d)

{'apple': 120, 'banana': 12222, 'frerdfdf': 237654}

In [10]:
d1 = {'name':'Ram'}
d2 = {'age':21}
d1.update(d2)
print(d1)

{'name': 'Ram', 'age': 21}

In [17]:
d1 = {1.10:2.20}
d2 = {3.3:4.44}
d3 = {5.5:6.6}
d4 = {}
for d in (d1,d2,d3):
    d4.update(d)
print(d4)

{1.1: 2.2, 3.3: 4.44, 5.5: 6.6}

In [16]:
t1 = ("name","age")
t2 = ("Ram",20)
d = {}
d = d.fromkeys(t1)
i = 0
for key in d:
    d[key]=t2[i]
    i=i+1
print(d)

{'name': 'Ram', 'age': 20}

In [18]:
d = dict(zip(t1,t2))#same as fromkeys
print(d)

{'name': 'Ram', 'age': 20}

In [43]:
l = {('name=wadd','age',3),('name2=errr','age',2)}

print(sorted(l))
print(sorted(d.items(),key=lambda x:x[-1]))

[('name2=errr', 'age', 2), ('name=wadd', 'age', 3)]
[('y', 1), ('i', 1), ('p', 2), ('e', 2)]

In [31]:
w = "yippee"
d = {}
for i in w:
    d[i]=d.get(i,0)+1
print(d)

{'y': 1, 'i': 1, 'p': 2, 'e': 2}

In [48]:
f = {'zpoja':23,'ram':32}
import operator
print(sorted(f.items(),key = operator.itemgetter(0)))

[('ram', 32), ('zpoja', 23)]

In [13]:
k = {"zRam":(100,29,24),"Sam":(94,43,54)}
print(sorted(k.items(),key =lambda t:t[-1][-2]))#how to sort acc to 2nd no.

[('zRam', (100, 29, 24)), ('Sam', (94, 43, 54))]

In [6]:
n = int(input("enter a no:"))
for i in range(n):
    d ={}
    d[i]=i**2
    print(d)

enter a no:9
{0: 0}
{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}

In [7]:
d ={10:'maths',34:'science',15:'maths'}
sum = 0
for i in d:
    sum = sum+i
    print(sum)
print(sorted(d.items()))

10
44
59
[(10, 'maths'), (15, 'maths'), (34, 'science')]

In [12]:
m = {'ram':(13,23,45),'dan':(45,32,44),'frg':(2,5,6)}
print(sorted(m.items(),key= lambda t:t[-1][2],reverse = True))

[('ram', (13, 23, 45)), ('dan', (45, 32, 44)), ('frg', (2, 5, 6))]

In [32]:
l = {'roll no': 1,'sub.':'maths','v':23,'vi':78}
m = {'roll no':2,'sub.':'maths','v':45,'vi':34}

n1=l.pop('v')
n2=m.pop('v')
n3=l.pop('vi')
n4=m.pop('vi')
n5=n1+n3
n6=n2+n4
h={'v+vi':n6}
m.update(h)
k={'v+vi':n3}
l.update(k)
print(l)
print(m)

{'roll no': 1, 'sub.': 'maths', 'v+vi': 78}
{'roll no': 2, 'sub.': 'maths', 'v+vi': 79}