In [2]:
l = [ i**2 for i in range(4)]
print(l)

[0, 1, 4, 9]

In [3]:
l = [ i for i in range(3)]
print(l)

[0, 1, 2]

In [4]:
l = [i for i in range(23) if i%2==0]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [5]:
l = [i for i in "love" if i in('a','e','i','o','u')]
print(l)

['o', 'e']

In [8]:
l = [[1,2,3],[4,5,6],[2,3]]
l = [i  for row in l for i in row]
print(l)

[1, 2, 3, 4, 5, 6, 2, 3]

In [3]:
s = 'i like python'
k = [ ch  for ch in s if ch not in("a","e","i","o","u")]
print("".join(k))      #for converting list to string

 lk pythn

In [1]:
s = 'i like python'
print(s[1])

In [4]:
t1 =('name','age','phone')
t2 =('ram',23,5465)
d = {}                           #d= {t1[i]:t2[i] for i in range(len(t1))}
for i in range(len(t1)):         #print(d)
    d[t1[i]]=t2[i] 
print(d)

{'name': 'ram', 'age': 23, 'phone': 5465}

In [3]:
l1 = [12,34,43]
l2 = [21,45,12,43,33]
l = [i and j for i in l1 for j in l2 if j==i]
print(l)

[12, 43]

In [28]:
l = [ ((i**2),(j**3)) for i  in range(1,4) for j in range(1,4)]
l2= []
l2.append(l)
print(l2)

[[(1, 1), (1, 8), (1, 27), (4, 1), (4, 8), (4, 27), (9, 1), (9, 8), (9, 27)]]

In [1]:
s =("hi","HLO","nn",'CM')
l = [ i.lower() for i in s]
print(l)

['hi', 'hlo', 'nn', 'cm']

In [5]:
s = [1,2,3,4,5,6,7,8,9,10]
l = [ i for i in s if i%2==0 and i%5==0]
print(l)

[10]

In [4]:
s = [1,2,3,4,5,6,7,8,9,10]
l = [i**2 if i%2==0 else i**3 for i in s]
print(l)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [16]:
s=[1,2,3,4,5,6,7,8,9,10]
l =[i if i%2==0 for i in s]
print(l)

SyntaxError: invalid syntax (<ipython-input-16-a7247e984f5c>, line 2)

In [23]:
k = ['hello','king','queen']
l = [ i[:1] for i in k ]
print(l)

['h', 'k', 'q']

In [1]:
k = "hello 12345 world"
l = [i for i in k if i==str]
j = "".join(l)
print(j)

In [11]:
k = "hello" "12345" "world"
l = [i for i in k if i==int]
print(l)

[]

In [28]:
s = [1,2,3]       #every
t = [4,5,6]
m = []
l = s[0]+t[0]
m.append(l) 
k = s[1]+t[1]
m.append(k)
j = s[2]+t[2]
m.append(j)
print(m)

[5, 7, 9]

In [29]:
def square(n):
    return n**2
l = [square(i) for i in range(1,6)]
print(l)

[1, 4, 9, 16, 25]

In [5]:
n = int(input("enter a no"))
factorial = 1
for i in range(1,n+1):
    factorial = factorial*i
print(factorial)

enter a no5
120